---
import { Image } from "astro:assets";
// import HeroImg from "../../assets/hero.jpg";
import HeroImg from "../../assets/hero.webp";
---

<section class="py-16 sm:py-20 mt-28">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div
          class="flex flex-col items-start w-full gap-8 sm:gap-10 xl:flex-row xl:items-center"
        >
          <div
            class="flex lg:max-w-xl xl:w-1/2 flex-col items-start gap-4 sm:gap-6"
          >
            <h1
              class="text-5xl font-medium tracking-tight sm:text-5xl lg:text-6xl"
            >
              <!-- Projektujemy meble dopasowane do Twoich oczekiwań. -->
              <!-- Projektujemy meble dopasowane do Ciebie. -->
              Projektujemy przestrzeń Twoich marzeń
            </h1>
            <p
              class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
            >
              <!-- Jesteśmy zespołem specjalistów, którzy sprawią, że Twoje wnętrza
              będą wyjątkowe i funkcjonalne. -->
              <!-- Twój dom, Twoja historia – meble, które opowiadają więcej. -->
              Unikatowe meble na wymiar, dopasowane do Twojego stylu
            </p>
            <a
              href="#portfolio"
              class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-950 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-200 dark:text-primary-950 dark:hover:bg-primary-400 dark:focus-visible:outline-primary-400"
            >
              Nasze realizacje
            </a>
          </div>
          <!-- <Image
            class="object-cover xl:w-1/2 rounded-3xl"
            src={HeroImg}
            alt="Hero picture"
          /> -->
          <img
            class="object-cover xl:w-1/2 rounded-3xl"
            src={HeroImg.src}
            alt="Hero picture"
            width="1200"
            height="800"
          />
        </div>
      </div>
    </div>
  </div>
</section>
