---
import Image from "astro/components/Image.astro";
import KitchenModel from "../../assets/kitchen_model.png";
import KitchenDesign from "../../assets/kitchen_3d_design_2.webp";
import KitchenFinal from "../../assets/kitchen_final.jpg";
---

<section class="pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Jak działamy
      </h2>
      <div
        class="order-2 mt-4 lg:order-1 lg:mt-0 lg:flex lg:items-center lg:-mx-6"
      >
        <Image
          alt="gallery"
          class="block lg:w-1/2 lg:mx-6 h-72 lg:h-96 w-full rounded-3xl object-cover object-center"
          src={KitchenModel}
        />
        <div
          class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0 flex flex-col justify-between"
        >
          <h3 class="text-3xl sm:text-4xl">
            POMIAR I WYKONANIE <br /> PROJEKTU 3D
          </h3>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Wykonujemy pomiar pomieszczenia oraz omawiamy Twoje potrzeby i
            oczekiwania co do projektu. Doradzamy w wyborze materiałów,
            funkcjonalności i ergonomii, wybierając rozwiązania dopasowane do
            Twoich wymagań.
          </p>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Na podstawie pomiarów i wskazówek, tworzymy wstępny projekt,
            używając oprogramowania 3D do zaplanowania wyglądu i funkcjonalności
            mebli.
          </p>
        </div>
      </div>
      <!-- ------------------------------------------------------------- -->
      <div
        class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:flex-row-reverse lg:items-center lg:-mx-6"
      >
        <Image
          alt="gallery"
          class="block lg:w-1/2 lg:mx-6 h-72 lg:h-96 w-full rounded-3xl object-cover object-center"
          src={KitchenDesign}
        />
        <div class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0">
          <h3 class="text-3xl sm:text-4xl">
            WPROWADZANIE ZMIAN ORAZ WIZUALIZACJA
          </h3>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Tworzymy wysokiej jakości wizualizacje fotorealistyczne. Pozwala to
            na dokładne odwzorowanie tekstur, kolorów oraz oświetlenia dając
            Państwu realistyczny podgląd na końcowy produkt.
          </p>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Wiemy że na dobre pomysły warto czekać dlatego na tym etapie mają
            Państwo możliwość modyfikowania projektu. Wprowadzamy zmiany i
            omawiamy koncepcje aby sprostać oczekiwaniom naszych klientów.
          </p>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------- -->
      <div
        class="order-2 mt-8 lg:order-1 lg:mt-0 lg:flex lg:items-center lg:-mx-6"
      >
        <Image
          alt="gallery"
          class="block lg:w-1/2 lg:mx-6 h-72 lg:h-96 w-full rounded-3xl object-cover object-center"
          src={KitchenFinal}
        />
        <div class="mt-8 lg:w-1/2 lg:mx-6 lg:mt-0">
          <h3 class="text-3xl sm:text-4xl">WYKONANIE I MONTAŻ</h3>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Po zatwierdzeniu projektu, przystępujemy do jego realizacji. Używamy
            tylko wysokiej jakości materiałów i okuć, aby zapewnić trwałość i
            estetykę wykonania.
          </p>
          <p
            class="mt-4 text-base text-left text-primary-950/90 dark:text-primary-200/90 sm:text-lg"
          >
            Dostarczamy i instalujemy meble w Twoim domu jednoczesnie dbając o
            to aby proces montażu był szybki, czysty i zminimalizowany pod
            względem jakichkolwiek niedogodności dla Ciebie.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
